// $breakpoint-small: 40em;
// $breakpoint-large: 65em;

$breakpoints: (
  small: 40em,
  medium: 65em,
);

// @mixin mq($point) {
//   $size: map-get($breakpoints, $point);

//   @media only screen and (min-width: $size) {
//     @content;
//   }
// }

// body {
//   font-size: 1rem;

//   @include mq(medium) {
//     font-size: 2rem;
//   }
// }

$speed: 350ms;
