@use "../abstracts" as *;

@each $color, $shade in $colors {
  @each $prop, $value in $shade {
    .text-#{$color}-#{$prop} {
      color: var(--clr-#{$color}-#{$prop}) !important;
    }

    .bg-#{$color}-#{$prop} {
      background-color: var(--clr-#{$color}-#{$prop}) !important;
    }
  }
}

.primary {
  --clr: var(--clr-primary-400);
}
.cauliflower {
  --clr: var(--clr-cauliflower-400);
}
.beetroot {
  --clr: var(--clr-beetroot-400);
}
.burritos {
  --clr: var(--clr-burritos-400);
}
.resource {
  --clr: var(--clr-resource-400);
}
