/* Error: Undefined mixin.
 *   ,
 * 5 | /   @include mq(medium) {
 * 6 | |     --section-spacing: 7rem;
 * 7 | \   }
 *   '
 *   sass\base\_root.scss 5:3   @use
 *   sass\base\_index.scss 2:1  @use
 *   sass\style.scss 1:1        root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined mixin.\a   \2577 \a 5 \2502  \250c    @include mq(medium) {\a 6 \2502  \2502      --section-spacing: 7rem;\a 7 \2502  \2514    }\a   \2575 \a   sass\\base\\_root.scss 5:3   @use\a   sass\\base\\_index.scss 2:1  @use\a   sass\\style.scss 1:1        root stylesheet";
}
